<br><br><br>
<body class="text-center ">
<div class="container-sm col-md-4 col-md-offset-3">
  <main class="form">
    <form >

      <div class="form-floating">
        <h3>¿Olvidaste tu contraseña?</h3>
        <p>Ingresa el correo de tu cuenta donde te enviaremos tu contraseña. Tu correo debe ser el mismo correo con el que inicias sesión</p>.
      </div>
      <div class="form-floating">
        <input type="email " class="form-control" id="email" placeholder="name@example.com" _mstplaceholder="299455">
        <label for="email" _msthash="896038" _msttexthash="868153">Correo electrónico</label>
        <br>
      </div>
      <div class="form-floating">
        <button class="w-100 btn btn-lg btn-success" type="submit" _msthash="692302" _msttexthash="234910">Continuar</button>
      </div>
      <br>
      <div class="form-floating">
        <a [routerLink]="['/access']" class="btn__terniary--medium forgot-password" data-cie-control-urn="forgot-password-btn"> Volver a inicio de sesión</a>
      </div>
      <br>
    </form>
  </main>
</div>
</body>
