<nav class="navbar navbar-dark bg-primary">
  <div class="container-fluid">
    <form class="d-flex">
      <a class="navbar-dark" href="#">Inicio</a>
      <a class="navbar-brand" [routerLink]="['mostrarempleados']">
        Empleados
      </a>
      <a class="navbar-brand" [routerLink]="['mostrarusrinvitados']">
        Usuarios Invitados
      </a>
      <a class="navbar-brand" [routerLink]="['mostrarhoraeys']">
        Entradas y Salidas de los usuarios
      </a>
    </form>

    <a class="navbar-brand" [routerLink]="['modrep']" >
      <img src=" " alt="" width="30" height="24" class="d-inline-block align-text-top">
      Modulo Reportes
    </a>
  </div>
</nav>
