
<br><br><br>
<body class="text-center ">
<div class="container-sm col-md-4 col-md-offset-3">
  <main class="form">
    <form >
      <h1 class="h3 mb-4 fw-normal" _msthash="522015" _mstecthash="529672">Crear una cuenta</h1>
      <h5 class="h5 mb-4 fw-normal" _msthash="522015" _mstecthash="529672">Empleado </h5>
      <div class="form-floating">
        <input input id="id_empleado" type="text" class="form-control" placeholder="Username" aria-label="Username">
        <label for="id_empleado" _msthash="896038" _msttexthash="868153">ID empleado</label>
      </div>
      <!--<div class="form-floating">
        <input input id="Nombre" type="text" class="form-control" placeholder="Username" aria-label="Username">
        <label for="Nombre" _msthash="896038" _msttexthash="868153">Nombre(s)</label>
      </div>
      <div class="form-floating ">
        <input input id="apellido_paterno" type="text" class="form-control" placeholder="Username" aria-label="Username">
        <label for="apellido_paterno" _msthash="896038" _msttexthash="868153">Apellido Paterno</label>
      </div>
      <div class="form-floating ">
        <input input id="apellido_materno" type="text" class="form-control" placeholder="Username" aria-label="Username">
        <label for="apellido_materno" _msthash="896038" _msttexthash="868153">Apellido Materno</label>
        <hr>
      </div>-->
      <hr>
      <div class="form-floating ">
        <input input id="Correo" type="text" class="form-control" placeholder="Username" aria-label="Username">
        <label for="Correo" _msthash="896038" _msttexthash="868153">Correo electronico</label>
      </div>
      <div class="form-floating ">
        <input input id="password" type="text" class="form-control" placeholder="Username" aria-label="Username">
        <label for="password" _msthash="896038" _msttexthash="868153">Contraseña</label>
      </div>

      <br>
      <div class="form-floating">
        <button class="w-100 btn btn-lg btn-success" type="submit" _msthash="692302" _msttexthash="234910">Registrarse</button>
      </div>
    </form>
    <br><br><br>
  </main>
</div>

</body>
